.col-320-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-320-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-480-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-640-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-768-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1024-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1366-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1920-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 320px) {
  .col-320-1 {
    float: left; }

  .col-320-1 {
    width: 8.33333333%; }

  .col-320-offset-1 {
    margin-left: 8.33333333%; }

  .col-320-push-1 {
    left: 8.33333333%; }

  .col-320-pull-1 {
    right: 8.33333333%; }

  .col-320-2 {
    float: left; }

  .col-320-2 {
    width: 16.66666667%; }

  .col-320-offset-2 {
    margin-left: 16.66666667%; }

  .col-320-push-2 {
    left: 16.66666667%; }

  .col-320-pull-2 {
    right: 16.66666667%; }

  .col-320-3 {
    float: left; }

  .col-320-3 {
    width: 25%; }

  .col-320-offset-3 {
    margin-left: 25%; }

  .col-320-push-3 {
    left: 25%; }

  .col-320-pull-3 {
    right: 25%; }

  .col-320-4 {
    float: left; }

  .col-320-4 {
    width: 33.33333333%; }

  .col-320-offset-4 {
    margin-left: 33.33333333%; }

  .col-320-push-4 {
    left: 33.33333333%; }

  .col-320-pull-4 {
    right: 33.33333333%; }

  .col-320-5 {
    float: left; }

  .col-320-5 {
    width: 41.66666667%; }

  .col-320-offset-5 {
    margin-left: 41.66666667%; }

  .col-320-push-5 {
    left: 41.66666667%; }

  .col-320-pull-5 {
    right: 41.66666667%; }

  .col-320-6 {
    float: left; }

  .col-320-6 {
    width: 50%; }

  .col-320-offset-6 {
    margin-left: 50%; }

  .col-320-push-6 {
    left: 50%; }

  .col-320-pull-6 {
    right: 50%; }

  .col-320-7 {
    float: left; }

  .col-320-7 {
    width: 58.33333333%; }

  .col-320-offset-7 {
    margin-left: 58.33333333%; }

  .col-320-push-7 {
    left: 58.33333333%; }

  .col-320-pull-7 {
    right: 58.33333333%; }

  .col-320-8 {
    float: left; }

  .col-320-8 {
    width: 66.66666667%; }

  .col-320-offset-8 {
    margin-left: 66.66666667%; }

  .col-320-push-8 {
    left: 66.66666667%; }

  .col-320-pull-8 {
    right: 66.66666667%; }

  .col-320-9 {
    float: left; }

  .col-320-9 {
    width: 75%; }

  .col-320-offset-9 {
    margin-left: 75%; }

  .col-320-push-9 {
    left: 75%; }

  .col-320-pull-9 {
    right: 75%; }

  .col-320-10 {
    float: left; }

  .col-320-10 {
    width: 83.33333333%; }

  .col-320-offset-10 {
    margin-left: 83.33333333%; }

  .col-320-push-10 {
    left: 83.33333333%; }

  .col-320-pull-10 {
    right: 83.33333333%; }

  .col-320-11 {
    float: left; }

  .col-320-11 {
    width: 91.66666667%; }

  .col-320-offset-11 {
    margin-left: 91.66666667%; }

  .col-320-push-11 {
    left: 91.66666667%; }

  .col-320-pull-11 {
    right: 91.66666667%; }

  .col-320-12 {
    float: left; }

  .col-320-12 {
    width: 100%; }

  .col-320-offset-12 {
    margin-left: 100%; }

  .col-320-push-12 {
    left: 100%; }

  .col-320-pull-12 {
    right: 100%; }

  .col-320-push-0 {
    left: auto; }

  .col-320-pull-0 {
    right: auto; }

  .col-320-offset-0 {
    margin-left: 0; } }
@media (min-width: 480px) {
  .col-480-1 {
    float: left; }

  .col-480-1 {
    width: 8.33333333%; }

  .col-480-offset-1 {
    margin-left: 8.33333333%; }

  .col-480-push-1 {
    left: 8.33333333%; }

  .col-480-pull-1 {
    right: 8.33333333%; }

  .col-480-2 {
    float: left; }

  .col-480-2 {
    width: 16.66666667%; }

  .col-480-offset-2 {
    margin-left: 16.66666667%; }

  .col-480-push-2 {
    left: 16.66666667%; }

  .col-480-pull-2 {
    right: 16.66666667%; }

  .col-480-3 {
    float: left; }

  .col-480-3 {
    width: 25%; }

  .col-480-offset-3 {
    margin-left: 25%; }

  .col-480-push-3 {
    left: 25%; }

  .col-480-pull-3 {
    right: 25%; }

  .col-480-4 {
    float: left; }

  .col-480-4 {
    width: 33.33333333%; }

  .col-480-offset-4 {
    margin-left: 33.33333333%; }

  .col-480-push-4 {
    left: 33.33333333%; }

  .col-480-pull-4 {
    right: 33.33333333%; }

  .col-480-5 {
    float: left; }

  .col-480-5 {
    width: 41.66666667%; }

  .col-480-offset-5 {
    margin-left: 41.66666667%; }

  .col-480-push-5 {
    left: 41.66666667%; }

  .col-480-pull-5 {
    right: 41.66666667%; }

  .col-480-6 {
    float: left; }

  .col-480-6 {
    width: 50%; }

  .col-480-offset-6 {
    margin-left: 50%; }

  .col-480-push-6 {
    left: 50%; }

  .col-480-pull-6 {
    right: 50%; }

  .col-480-7 {
    float: left; }

  .col-480-7 {
    width: 58.33333333%; }

  .col-480-offset-7 {
    margin-left: 58.33333333%; }

  .col-480-push-7 {
    left: 58.33333333%; }

  .col-480-pull-7 {
    right: 58.33333333%; }

  .col-480-8 {
    float: left; }

  .col-480-8 {
    width: 66.66666667%; }

  .col-480-offset-8 {
    margin-left: 66.66666667%; }

  .col-480-push-8 {
    left: 66.66666667%; }

  .col-480-pull-8 {
    right: 66.66666667%; }

  .col-480-9 {
    float: left; }

  .col-480-9 {
    width: 75%; }

  .col-480-offset-9 {
    margin-left: 75%; }

  .col-480-push-9 {
    left: 75%; }

  .col-480-pull-9 {
    right: 75%; }

  .col-480-10 {
    float: left; }

  .col-480-10 {
    width: 83.33333333%; }

  .col-480-offset-10 {
    margin-left: 83.33333333%; }

  .col-480-push-10 {
    left: 83.33333333%; }

  .col-480-pull-10 {
    right: 83.33333333%; }

  .col-480-11 {
    float: left; }

  .col-480-11 {
    width: 91.66666667%; }

  .col-480-offset-11 {
    margin-left: 91.66666667%; }

  .col-480-push-11 {
    left: 91.66666667%; }

  .col-480-pull-11 {
    right: 91.66666667%; }

  .col-480-12 {
    float: left; }

  .col-480-12 {
    width: 100%; }

  .col-480-offset-12 {
    margin-left: 100%; }

  .col-480-push-12 {
    left: 100%; }

  .col-480-pull-12 {
    right: 100%; }

  .col-480-push-0 {
    left: auto; }

  .col-480-pull-0 {
    right: auto; }

  .col-480-offset-0 {
    margin-left: 0; } }
@media (min-width: 640px) {
  .col-640-1 {
    float: left; }

  .col-640-1 {
    width: 8.33333333%; }

  .col-640-offset-1 {
    margin-left: 8.33333333%; }

  .col-640-push-1 {
    left: 8.33333333%; }

  .col-640-pull-1 {
    right: 8.33333333%; }

  .col-640-2 {
    float: left; }

  .col-640-2 {
    width: 16.66666667%; }

  .col-640-offset-2 {
    margin-left: 16.66666667%; }

  .col-640-push-2 {
    left: 16.66666667%; }

  .col-640-pull-2 {
    right: 16.66666667%; }

  .col-640-3 {
    float: left; }

  .col-640-3 {
    width: 25%; }

  .col-640-offset-3 {
    margin-left: 25%; }

  .col-640-push-3 {
    left: 25%; }

  .col-640-pull-3 {
    right: 25%; }

  .col-640-4 {
    float: left; }

  .col-640-4 {
    width: 33.33333333%; }

  .col-640-offset-4 {
    margin-left: 33.33333333%; }

  .col-640-push-4 {
    left: 33.33333333%; }

  .col-640-pull-4 {
    right: 33.33333333%; }

  .col-640-5 {
    float: left; }

  .col-640-5 {
    width: 41.66666667%; }

  .col-640-offset-5 {
    margin-left: 41.66666667%; }

  .col-640-push-5 {
    left: 41.66666667%; }

  .col-640-pull-5 {
    right: 41.66666667%; }

  .col-640-6 {
    float: left; }

  .col-640-6 {
    width: 50%; }

  .col-640-offset-6 {
    margin-left: 50%; }

  .col-640-push-6 {
    left: 50%; }

  .col-640-pull-6 {
    right: 50%; }

  .col-640-7 {
    float: left; }

  .col-640-7 {
    width: 58.33333333%; }

  .col-640-offset-7 {
    margin-left: 58.33333333%; }

  .col-640-push-7 {
    left: 58.33333333%; }

  .col-640-pull-7 {
    right: 58.33333333%; }

  .col-640-8 {
    float: left; }

  .col-640-8 {
    width: 66.66666667%; }

  .col-640-offset-8 {
    margin-left: 66.66666667%; }

  .col-640-push-8 {
    left: 66.66666667%; }

  .col-640-pull-8 {
    right: 66.66666667%; }

  .col-640-9 {
    float: left; }

  .col-640-9 {
    width: 75%; }

  .col-640-offset-9 {
    margin-left: 75%; }

  .col-640-push-9 {
    left: 75%; }

  .col-640-pull-9 {
    right: 75%; }

  .col-640-10 {
    float: left; }

  .col-640-10 {
    width: 83.33333333%; }

  .col-640-offset-10 {
    margin-left: 83.33333333%; }

  .col-640-push-10 {
    left: 83.33333333%; }

  .col-640-pull-10 {
    right: 83.33333333%; }

  .col-640-11 {
    float: left; }

  .col-640-11 {
    width: 91.66666667%; }

  .col-640-offset-11 {
    margin-left: 91.66666667%; }

  .col-640-push-11 {
    left: 91.66666667%; }

  .col-640-pull-11 {
    right: 91.66666667%; }

  .col-640-12 {
    float: left; }

  .col-640-12 {
    width: 100%; }

  .col-640-offset-12 {
    margin-left: 100%; }

  .col-640-push-12 {
    left: 100%; }

  .col-640-pull-12 {
    right: 100%; }

  .col-640-push-0 {
    left: auto; }

  .col-640-pull-0 {
    right: auto; }

  .col-640-offset-0 {
    margin-left: 0; } }
@media (min-width: 768px) {
  .col-768-1 {
    float: left; }

  .col-768-1 {
    width: 8.33333333%; }

  .col-768-offset-1 {
    margin-left: 8.33333333%; }

  .col-768-push-1 {
    left: 8.33333333%; }

  .col-768-pull-1 {
    right: 8.33333333%; }

  .col-768-2 {
    float: left; }

  .col-768-2 {
    width: 16.66666667%; }

  .col-768-offset-2 {
    margin-left: 16.66666667%; }

  .col-768-push-2 {
    left: 16.66666667%; }

  .col-768-pull-2 {
    right: 16.66666667%; }

  .col-768-3 {
    float: left; }

  .col-768-3 {
    width: 25%; }

  .col-768-offset-3 {
    margin-left: 25%; }

  .col-768-push-3 {
    left: 25%; }

  .col-768-pull-3 {
    right: 25%; }

  .col-768-4 {
    float: left; }

  .col-768-4 {
    width: 33.33333333%; }

  .col-768-offset-4 {
    margin-left: 33.33333333%; }

  .col-768-push-4 {
    left: 33.33333333%; }

  .col-768-pull-4 {
    right: 33.33333333%; }

  .col-768-5 {
    float: left; }

  .col-768-5 {
    width: 41.66666667%; }

  .col-768-offset-5 {
    margin-left: 41.66666667%; }

  .col-768-push-5 {
    left: 41.66666667%; }

  .col-768-pull-5 {
    right: 41.66666667%; }

  .col-768-6 {
    float: left; }

  .col-768-6 {
    width: 50%; }

  .col-768-offset-6 {
    margin-left: 50%; }

  .col-768-push-6 {
    left: 50%; }

  .col-768-pull-6 {
    right: 50%; }

  .col-768-7 {
    float: left; }

  .col-768-7 {
    width: 58.33333333%; }

  .col-768-offset-7 {
    margin-left: 58.33333333%; }

  .col-768-push-7 {
    left: 58.33333333%; }

  .col-768-pull-7 {
    right: 58.33333333%; }

  .col-768-8 {
    float: left; }

  .col-768-8 {
    width: 66.66666667%; }

  .col-768-offset-8 {
    margin-left: 66.66666667%; }

  .col-768-push-8 {
    left: 66.66666667%; }

  .col-768-pull-8 {
    right: 66.66666667%; }

  .col-768-9 {
    float: left; }

  .col-768-9 {
    width: 75%; }

  .col-768-offset-9 {
    margin-left: 75%; }

  .col-768-push-9 {
    left: 75%; }

  .col-768-pull-9 {
    right: 75%; }

  .col-768-10 {
    float: left; }

  .col-768-10 {
    width: 83.33333333%; }

  .col-768-offset-10 {
    margin-left: 83.33333333%; }

  .col-768-push-10 {
    left: 83.33333333%; }

  .col-768-pull-10 {
    right: 83.33333333%; }

  .col-768-11 {
    float: left; }

  .col-768-11 {
    width: 91.66666667%; }

  .col-768-offset-11 {
    margin-left: 91.66666667%; }

  .col-768-push-11 {
    left: 91.66666667%; }

  .col-768-pull-11 {
    right: 91.66666667%; }

  .col-768-12 {
    float: left; }

  .col-768-12 {
    width: 100%; }

  .col-768-offset-12 {
    margin-left: 100%; }

  .col-768-push-12 {
    left: 100%; }

  .col-768-pull-12 {
    right: 100%; }

  .col-768-push-0 {
    left: auto; }

  .col-768-pull-0 {
    right: auto; }

  .col-768-offset-0 {
    margin-left: 0; } }
@media (min-width: 1024px) {
  .col-1024-1 {
    float: left; }

  .col-1024-1 {
    width: 8.33333333%; }

  .col-1024-offset-1 {
    margin-left: 8.33333333%; }

  .col-1024-push-1 {
    left: 8.33333333%; }

  .col-1024-pull-1 {
    right: 8.33333333%; }

  .col-1024-2 {
    float: left; }

  .col-1024-2 {
    width: 16.66666667%; }

  .col-1024-offset-2 {
    margin-left: 16.66666667%; }

  .col-1024-push-2 {
    left: 16.66666667%; }

  .col-1024-pull-2 {
    right: 16.66666667%; }

  .col-1024-3 {
    float: left; }

  .col-1024-3 {
    width: 25%; }

  .col-1024-offset-3 {
    margin-left: 25%; }

  .col-1024-push-3 {
    left: 25%; }

  .col-1024-pull-3 {
    right: 25%; }

  .col-1024-4 {
    float: left; }

  .col-1024-4 {
    width: 33.33333333%; }

  .col-1024-offset-4 {
    margin-left: 33.33333333%; }

  .col-1024-push-4 {
    left: 33.33333333%; }

  .col-1024-pull-4 {
    right: 33.33333333%; }

  .col-1024-5 {
    float: left; }

  .col-1024-5 {
    width: 41.66666667%; }

  .col-1024-offset-5 {
    margin-left: 41.66666667%; }

  .col-1024-push-5 {
    left: 41.66666667%; }

  .col-1024-pull-5 {
    right: 41.66666667%; }

  .col-1024-6 {
    float: left; }

  .col-1024-6 {
    width: 50%; }

  .col-1024-offset-6 {
    margin-left: 50%; }

  .col-1024-push-6 {
    left: 50%; }

  .col-1024-pull-6 {
    right: 50%; }

  .col-1024-7 {
    float: left; }

  .col-1024-7 {
    width: 58.33333333%; }

  .col-1024-offset-7 {
    margin-left: 58.33333333%; }

  .col-1024-push-7 {
    left: 58.33333333%; }

  .col-1024-pull-7 {
    right: 58.33333333%; }

  .col-1024-8 {
    float: left; }

  .col-1024-8 {
    width: 66.66666667%; }

  .col-1024-offset-8 {
    margin-left: 66.66666667%; }

  .col-1024-push-8 {
    left: 66.66666667%; }

  .col-1024-pull-8 {
    right: 66.66666667%; }

  .col-1024-9 {
    float: left; }

  .col-1024-9 {
    width: 75%; }

  .col-1024-offset-9 {
    margin-left: 75%; }

  .col-1024-push-9 {
    left: 75%; }

  .col-1024-pull-9 {
    right: 75%; }

  .col-1024-10 {
    float: left; }

  .col-1024-10 {
    width: 83.33333333%; }

  .col-1024-offset-10 {
    margin-left: 83.33333333%; }

  .col-1024-push-10 {
    left: 83.33333333%; }

  .col-1024-pull-10 {
    right: 83.33333333%; }

  .col-1024-11 {
    float: left; }

  .col-1024-11 {
    width: 91.66666667%; }

  .col-1024-offset-11 {
    margin-left: 91.66666667%; }

  .col-1024-push-11 {
    left: 91.66666667%; }

  .col-1024-pull-11 {
    right: 91.66666667%; }

  .col-1024-12 {
    float: left; }

  .col-1024-12 {
    width: 100%; }

  .col-1024-offset-12 {
    margin-left: 100%; }

  .col-1024-push-12 {
    left: 100%; }

  .col-1024-pull-12 {
    right: 100%; }

  .col-1024-push-0 {
    left: auto; }

  .col-1024-pull-0 {
    right: auto; }

  .col-1024-offset-0 {
    margin-left: 0; } }
@media (min-width: 1366px) {
  .col-1366-1 {
    float: left; }

  .col-1366-1 {
    width: 8.33333333%; }

  .col-1366-offset-1 {
    margin-left: 8.33333333%; }

  .col-1366-push-1 {
    left: 8.33333333%; }

  .col-1366-pull-1 {
    right: 8.33333333%; }

  .col-1366-2 {
    float: left; }

  .col-1366-2 {
    width: 16.66666667%; }

  .col-1366-offset-2 {
    margin-left: 16.66666667%; }

  .col-1366-push-2 {
    left: 16.66666667%; }

  .col-1366-pull-2 {
    right: 16.66666667%; }

  .col-1366-3 {
    float: left; }

  .col-1366-3 {
    width: 25%; }

  .col-1366-offset-3 {
    margin-left: 25%; }

  .col-1366-push-3 {
    left: 25%; }

  .col-1366-pull-3 {
    right: 25%; }

  .col-1366-4 {
    float: left; }

  .col-1366-4 {
    width: 33.33333333%; }

  .col-1366-offset-4 {
    margin-left: 33.33333333%; }

  .col-1366-push-4 {
    left: 33.33333333%; }

  .col-1366-pull-4 {
    right: 33.33333333%; }

  .col-1366-5 {
    float: left; }

  .col-1366-5 {
    width: 41.66666667%; }

  .col-1366-offset-5 {
    margin-left: 41.66666667%; }

  .col-1366-push-5 {
    left: 41.66666667%; }

  .col-1366-pull-5 {
    right: 41.66666667%; }

  .col-1366-6 {
    float: left; }

  .col-1366-6 {
    width: 50%; }

  .col-1366-offset-6 {
    margin-left: 50%; }

  .col-1366-push-6 {
    left: 50%; }

  .col-1366-pull-6 {
    right: 50%; }

  .col-1366-7 {
    float: left; }

  .col-1366-7 {
    width: 58.33333333%; }

  .col-1366-offset-7 {
    margin-left: 58.33333333%; }

  .col-1366-push-7 {
    left: 58.33333333%; }

  .col-1366-pull-7 {
    right: 58.33333333%; }

  .col-1366-8 {
    float: left; }

  .col-1366-8 {
    width: 66.66666667%; }

  .col-1366-offset-8 {
    margin-left: 66.66666667%; }

  .col-1366-push-8 {
    left: 66.66666667%; }

  .col-1366-pull-8 {
    right: 66.66666667%; }

  .col-1366-9 {
    float: left; }

  .col-1366-9 {
    width: 75%; }

  .col-1366-offset-9 {
    margin-left: 75%; }

  .col-1366-push-9 {
    left: 75%; }

  .col-1366-pull-9 {
    right: 75%; }

  .col-1366-10 {
    float: left; }

  .col-1366-10 {
    width: 83.33333333%; }

  .col-1366-offset-10 {
    margin-left: 83.33333333%; }

  .col-1366-push-10 {
    left: 83.33333333%; }

  .col-1366-pull-10 {
    right: 83.33333333%; }

  .col-1366-11 {
    float: left; }

  .col-1366-11 {
    width: 91.66666667%; }

  .col-1366-offset-11 {
    margin-left: 91.66666667%; }

  .col-1366-push-11 {
    left: 91.66666667%; }

  .col-1366-pull-11 {
    right: 91.66666667%; }

  .col-1366-12 {
    float: left; }

  .col-1366-12 {
    width: 100%; }

  .col-1366-offset-12 {
    margin-left: 100%; }

  .col-1366-push-12 {
    left: 100%; }

  .col-1366-pull-12 {
    right: 100%; }

  .col-1366-push-0 {
    left: auto; }

  .col-1366-pull-0 {
    right: auto; }

  .col-1366-offset-0 {
    margin-left: 0; } }
@media (min-width: 1920px) {
  .col-1920-1 {
    float: left; }

  .col-1920-1 {
    width: 8.33333333%; }

  .col-1920-offset-1 {
    margin-left: 8.33333333%; }

  .col-1920-push-1 {
    left: 8.33333333%; }

  .col-1920-pull-1 {
    right: 8.33333333%; }

  .col-1920-2 {
    float: left; }

  .col-1920-2 {
    width: 16.66666667%; }

  .col-1920-offset-2 {
    margin-left: 16.66666667%; }

  .col-1920-push-2 {
    left: 16.66666667%; }

  .col-1920-pull-2 {
    right: 16.66666667%; }

  .col-1920-3 {
    float: left; }

  .col-1920-3 {
    width: 25%; }

  .col-1920-offset-3 {
    margin-left: 25%; }

  .col-1920-push-3 {
    left: 25%; }

  .col-1920-pull-3 {
    right: 25%; }

  .col-1920-4 {
    float: left; }

  .col-1920-4 {
    width: 33.33333333%; }

  .col-1920-offset-4 {
    margin-left: 33.33333333%; }

  .col-1920-push-4 {
    left: 33.33333333%; }

  .col-1920-pull-4 {
    right: 33.33333333%; }

  .col-1920-5 {
    float: left; }

  .col-1920-5 {
    width: 41.66666667%; }

  .col-1920-offset-5 {
    margin-left: 41.66666667%; }

  .col-1920-push-5 {
    left: 41.66666667%; }

  .col-1920-pull-5 {
    right: 41.66666667%; }

  .col-1920-6 {
    float: left; }

  .col-1920-6 {
    width: 50%; }

  .col-1920-offset-6 {
    margin-left: 50%; }

  .col-1920-push-6 {
    left: 50%; }

  .col-1920-pull-6 {
    right: 50%; }

  .col-1920-7 {
    float: left; }

  .col-1920-7 {
    width: 58.33333333%; }

  .col-1920-offset-7 {
    margin-left: 58.33333333%; }

  .col-1920-push-7 {
    left: 58.33333333%; }

  .col-1920-pull-7 {
    right: 58.33333333%; }

  .col-1920-8 {
    float: left; }

  .col-1920-8 {
    width: 66.66666667%; }

  .col-1920-offset-8 {
    margin-left: 66.66666667%; }

  .col-1920-push-8 {
    left: 66.66666667%; }

  .col-1920-pull-8 {
    right: 66.66666667%; }

  .col-1920-9 {
    float: left; }

  .col-1920-9 {
    width: 75%; }

  .col-1920-offset-9 {
    margin-left: 75%; }

  .col-1920-push-9 {
    left: 75%; }

  .col-1920-pull-9 {
    right: 75%; }

  .col-1920-10 {
    float: left; }

  .col-1920-10 {
    width: 83.33333333%; }

  .col-1920-offset-10 {
    margin-left: 83.33333333%; }

  .col-1920-push-10 {
    left: 83.33333333%; }

  .col-1920-pull-10 {
    right: 83.33333333%; }

  .col-1920-11 {
    float: left; }

  .col-1920-11 {
    width: 91.66666667%; }

  .col-1920-offset-11 {
    margin-left: 91.66666667%; }

  .col-1920-push-11 {
    left: 91.66666667%; }

  .col-1920-pull-11 {
    right: 91.66666667%; }

  .col-1920-12 {
    float: left; }

  .col-1920-12 {
    width: 100%; }

  .col-1920-offset-12 {
    margin-left: 100%; }

  .col-1920-push-12 {
    left: 100%; }

  .col-1920-pull-12 {
    right: 100%; }

  .col-1920-push-0 {
    left: auto; }

  .col-1920-pull-0 {
    right: auto; }

  .col-1920-offset-0 {
    margin-left: 0; } }
.sizer-item {
  float: left; }

.auto-margin {
  width: 100%; }
  .auto-margin .sizer-item {
    margin: 0 auto; }

.page-header {
  padding: 0px; }

.page-header .actions.top-right {
  top: 0;
  right: 0; }

.list-group {
  padding-right: 0; }

a.btn.btn-success:visited {
  color: rgba(255, 255, 255, 0.85); }

.muted {
  font-size: 10px; }

.dropdown .dropdown-menu {
  width: 300px;
  left: -50px !important; }

body.content-menu .content-wrapper {
  overflow: visible; }

.actions .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  line-height: 1.5rem; }
  .actions .dropdown-menu .dropdown-item i {
    font-size: 1.2rem;
    top: 2px;
    position: relative;
    margin-right: 7px; }

.nbsp {
  white-space: nowrap; }

.tst {
  color: #eeeeee;
  color: #39ceae;
  /* success */
  color: #ff768b;
  /* decline */
  color: #ffd681;
  /* canceled */
  color: #2aab8f;
  /* capterued */
  color: #51a6f4;
  /*refund*/
  color: #857ece;
  /*chargeback*/
  color: #51a6f4;
  /*refund*/
  color: #eeeeee;
  color: #ff768b;
  /*refund failure*/
  color: #ffc64e;
  /* timed out */ }

.btn.minimized {
  padding: 4px 10px;
  font-size: 12px; }

.table thead th.th-transactions {
  padding: 0.75rem 0.25rem; }

.modal-dialog {
  max-width: 800px; }

.modal button.close {
  position: absolute;
  right: 15px; }

.pagination {
  margin: 2px 15px 15px 0;
  white-space: nowrap;
  justify-content: flex-end;
  width: 100%; }

.pagination li a, .pagination li span {
  padding: 0.5rem 0.75rem;
  position: relative;
  display: block;
  margin-left: -1px;
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease;
  color: #353a40;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent; }

.pagination li.disabled a, .pagination a, .pagination span {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent; }

.pagination li.active a, .pagination li.active span {
  z-index: 1;
  color: #fff;
  background-color: #7468bd;
  border-color: #7468bd;
  border-radius: 100%;
  box-shadow: none;
  outline: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 8px 0 0; }

.pagination a:link, .pagination a:visited {
  color: #353a40;
  line-height: 1; }

.pagination a:hover, .pagination span:hover {
  color: #7468bd; }

.pagination a:active, .pagination a:focus {
  box-shadow: none;
  outline: 0; }

body #app .content-wrapper .content {
  width: 100%;
  margin-left: 0px; }

@media screen and (min-width: 993px) {
  body.content-menu .content-wrapper .sidebar-left {
    position: relative;
    left: 0;
    padding-top: 0;
    margin-right: 15px; } }
body.content-menu-close .content-wrapper .sidebar-left {
  margin-left: -270px;
  margin-right: 15px; }

body.content-menu .content-wrapper {
  padding: 35px 15px; }

@media screen and (max-width: 480px) {
  body.content-menu .content-wrapper {
    padding: 25px 0px; } }
.page-content {
  padding: 30px 0; }

.lang-login-box {
  position: absolute;
  right: 0;
  z-index: 1000;
  top: 20px; }

.lang-login-box .flag-icon {
  margin: 5px; }

@media screen and (max-width: 600px) {
  .lang-login-box .flag-icon {
    display: block; } }
.sign-in-form {
  margin: 5% auto 0%; }
  @media screen and (max-width: 480px) {
    .sign-in-form {
      padding: 0; } }
  .sign-in-form .repass_link {
    font-size: 14px;
    line-height: 26px; }
  @media screen and (max-width: 400px) {
    .sign-in-form .repass_link {
      font-size: 12px;
      line-height: 26px; } }

.index-pay-card {
  order: 1; }

.index-credit-card {
  order: 2; }

.index-rooms {
  order: 4; }

.index-transactions {
  order: 3; }

@media screen and (min-width: 993px) {
  .index-pay-card {
    order: 2; }

  .index-credit-card {
    order: 1; } }
@media (max-width: 767px) {
  .site-logo li .brand-text {
    font-size: 1rem; } }
.table thead th {
  font-weight: 400; }

.card .card-header {
  font-weight: 400; }

.checkbox-label .checkbox {
  display: inline-block;
  margin-right: 20px; }

.kv-date-remove {
  display: none; }

.input-group-addon:first-child {
  width: 38px; }

.select2-results__option {
  font-size: 12px; }

.td-label {
  display: block;
  width: 100%;
  font-weight: bold; }

@media screen and (max-width: 991px) {
  /* Force table to not be like tables anymore */
  .table.adaptive, .table.adaptive thead, .table.adaptive tbody, .table.adaptive th, .table.adaptive td, .table.adaptive tr {
    display: block; }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table.adaptive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .table.adaptive tr {
    padding-top: 15px;
    padding-bottom: 15px; }

  .table.adaptive td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    width: auto !important;
    padding-top: 3px;
    padding-bottom: 3px; }

  .table.adaptive td:before {
    /* position: absolute; */
    /* top: 6px; */
    /* left: 6px; */
    margin-left: -100%;
    display: block;
    float: left;
    width: 100%;
    padding-right: 10px;
    /* white-space: nowrap; */
    /* font-size: 1rem; */
    font-weight: 400;
    overflow-y: hidden; }

  .table.adaptive td:after {
    content: ' ';
    display: block;
    clear: both; }

  /*
Label the data
*/
  .table.adaptive td:before {
    content: attr(title); }

  .table.adaptive tr:nth-of-type(2n+2) {
    background-color: #fcfcfc; } }
@media screen and (max-width: 576px) {
  .page-content {
    padding: 15px 0 !important; } }
@media screen and (max-width: 991px) {
  .index-credit-card .card {
    height: auto; } }
.top-toolbar.navbar {
  position: fixed;
  width: 100%; }
  .top-toolbar.navbar .flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px; }
    .top-toolbar.navbar .flex ul.site-logo {
      width: auto; }

.content-wrapper {
  margin-top: 65px; }

.white_line {
  line-height: 12px; }

.red_line {
  line-height: 12px;
  background-color: rgba(255, 118, 139, 0.8);
  color: #fff; }
  .red_line .checker.btn-danger {
    display: none; }

.green_line {
  line-height: 12px;
  background-color: rgba(57, 206, 174, 0.8);
  color: #fff; }
  .green_line .checker.btn-primary {
    display: none; }

.blink_me {
  animation: blinker 0.3s linear infinite; }

@keyframes blinker {
   50% {
    opacity: 0.1; } }
#google_button svg {
  height: 20px;
  float: left; }

#google_button:hover svg {
  fill: #fff !important; }

#google_button:hover svg .st0, #google_button:hover svg .st1, #google_button:hover svg .st2, #google_button:hover svg .st3 {
  fill: #fff !important; }

#facebook_button svg {
  height: 20px;
  float: left; }

#facebook_button:hover svg {
  fill: #fff !important; }

#facebook_button:hover svg .st0, #facebook_button:hover svg .st1, #facebook_button:hover svg .st2, #facebook_button:hover svg .st3 {
  fill: #fff !important; }

.help-block.help-block-error {
  display: none; }

.has-error .help-block.help-block-error {
  display: block;
  color: #ff5c75;
  font-size: 10px; }

.field-loginform-agree label {
  font-size: 10px !important; }

.sign-in-form {
  max-width: 500px; }

.content-menu {
  padding-bottom: 50px;
  position: relative; }

footer {
  position: absolute;
  overflow: hidden;
  bottom: -50px;
  width: 100%;
  padding: 15px;
  background-color: #eee; }
  footer ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0; }
    footer ul li {
      display: inline;
      margin-bottom: 0; }
      footer ul li span {
        display: inline-block;
        margin: 0 15px; }
      footer ul li a {
        color: #aaaaaa; }

@media screen and (max-width: 479px) {
  .hidden-xxs {
    display: none; } }

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media screen and (max-width: 992px) {
  .hidden-sm {
    display: none; } }

@media screen and (max-width: 1200px) {
  .hidden-md {
    display: none; } }

.visible-xs {
  display: none; }
  @media screen and (max-width: 479px) {
    .visible-xs {
      display: block; } }

.visible-sm {
  display: none; }
  @media screen and (max-width: 767px) {
    .visible-sm {
      display: block; } }

.visible-md {
  display: none; }
  @media screen and (max-width: 992px) {
    .visible-md {
      display: block; } }

.visible-xl {
  display: none; }
  @media screen and (max-width: 1200px) {
    .visible-xl {
      display: block; } }

.index-paymet-label {
  line-height: 32px;
  margin-bottom: 0; }

#payment-details.small .card-body {
  font-size: 12px; }

body .btn.btn-small {
  padding: 0 5px !important;
  height: 25px !important;
  font-size: 10px !important;
  line-height: 22px !important;
  margin-top: 5px !important; }

.pay-card {
  width: 550px; }
  @media screen and (max-width: 640px) {
    .pay-card {
      width: 480px; }
      .pay-card .btn {
        margin-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .pay-card {
      width: 320px; } }

svg {
  overflow: hidden;
  vertical-align: middle; }

svg .avatar_circle {
  fill: #c1c7d0; }

.address-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1; }
  .address-text .address {
    font-weight: 400;
    font-size: 12px; }

@media screen and (max-width: 991px) {
  .empty {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center; } }
@media screen and (min-width: 640px) {
  .balance-popup {
    min-width: 600px; } }
@media screen and (min-width: 993px) {
  .max-width-400-md {
    max-width: 400px; }

  .text-center-md {
    text-align: center; }

  .navbar-nav.nav-left {
    width: 33%; }

  div.navbar-nav.nav-right {
    width: 33%;
    justify-content: flex-end; } }
@media screen and (min-width: 500px) {
  .dropdown .btn.btn-add {
    border-color: transparent !important;
    background-color: #fff;
    padding: 0px 10px 0 0;
    border-radius: 50px;
    font-size: 24px;
    margin: auto;
    line-height: normal;
    display: flex;
    color: #4d5a68; }
    .dropdown .btn.btn-add i {
      width: 40px;
      height: 40px;
      margin: 0 0 0 0px;
      line-height: 1.7;
      font-size: 1.4375rem; }
    .dropdown .btn.btn-add span {
      font-size: 16px;
      display: inline-block;
      height: 40px;
      line-height: 2.2; } }
@media screen and (max-width: 500px) {
  .dropdown .btn.btn-add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    margin: auto;
    padding: 0;
    line-height: normal; }
    .dropdown .btn.btn-add span {
      display: none; }
    .dropdown .btn.btn-add i {
      width: 40px;
      height: 40px;
      margin: 0 0 0 -1px;
      line-height: 1.7;
      font-size: 1.4375rem; } }
@media screen and (max-width: 640px) {
  .card-footer > .btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 15px !important;
    width: 100%;
    text-align: center; } }
.tag.label.label-info {
  background: #aaa;
  border-radius: 3px;
  padding: 3px; }

.bootstrap-tagsinput {
  width: 100%; }
